@import "zeroing";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

// Variables
$black: hsl(0°, 0%, 0%);
$dark-purple: hsl(257°, 67%, 51%);
$light-purple: hsl(257°, 100%, 64%);
$red: hsl(347°, 97%, 70%);
$yellow: hsl(41°, 100%, 70%);
$white: hsl(0°, 0%, 100%);

$radius: 40px; 
$btn-radius: 20px;
$box-shadow: 0px 10px 0px $black;
$border: 3px solid $black;

//  Typography
h1 {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
}

p {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    opacity: 0.66;
}

// Other



// General 
 body {
    font-family: 'Space Grotesk', sans-serif;
    color: $black;
 }

 .menu-container {
    position: relative;
    background-color: $light-purple;
    display: flex;
    flex-direction: column;
    padding: 50px 40px 60px;
    border-radius: $radius;
    border: $border;
    box-shadow: $box-shadow;
    max-width: 480px;
    width: 89%;
    &.white {
        background-color: $white;
        padding: 30px 34px 44px;
    }
 }

 .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
 }

 .button {
    border-radius: 20px;
    font-family: 'Space Grotesk';
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &.primary {
        border: $border;
        box-shadow: $box-shadow;
        padding: 20px 21px 20px;
        width: 100%;
        font-size: 24px;
        color: $black;
        background-color: $yellow;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 17px 13px 20px;
        &:hover {
            border: 3px solid $dark-purple;
            box-shadow: 0px 10px 0px $dark-purple;
        }
    }
    &.secondary {
        background: $white;
        border: $border;
        box-shadow: $box-shadow;
        padding: 20px 21px 20px;
        width: 100%;
        font-size: 24px;
        color: $black;
        padding: 21px 20px 20px;
        line-height: 31px;
        &:hover {
            border: 3px solid $dark-purple;
            box-shadow: 0px 10px 0px $dark-purple;
        }
    } 
    &.tetriary {
        background-color: $dark-purple;
        color: white;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        padding: 9px 20px 10px;
        &:hover {
            background-color: $red;
        }
    }
    &.red {
        background: $red;
        color: $white;
    }


 }

//  Activations

.hidden {
    opacity: 0;
    visibility: hidden;
}