@import "general";

body {
    background-color: $dark-purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 20px auto 80px;
}

.button {
    text-align: left;
}

@media screen and (max-width: 730px) {

    body {
        background-color: $light-purple;
        padding: 0 0 30%;
    }

    .menu-container.mainscreen {
        background-color: transparent;
        border: unset;
        box-shadow: unset;
        padding: 0;
    }
  }