div {
  position: relative;
}

img {
  width: 100%;
  z-index: 0;
  display: block;
}

div:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F7DD04;  
  z-index: 2;
  mix-blend-mode: difference;
}

div:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F7DD04;  
  z-index: 3;
  mix-blend-mode: hard-light;
}