@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    font-weight: 400;
}

section {
    background-color: #23424A;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 148px 0;
}

.container  {
    max-width: 1196px;
    margin: 0 auto;
    width: 85%;
}

h1 {
    max-width: 60%;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 900;
    margin-bottom: -10px;
}

p {
    max-width: 60%;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 80px;
}

a {
    background-color:#38CFD9;
    cursor: pointer;text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem; /* 21px */
    line-height: 2rem;
    padding: 0.75em 2.3em  ; /* 16px 48px */
    border-radius: 3em;
    color: #072A2D;
    font-weight: 700;
}


