@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	min-height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* -------------------- */

html {
   font-family: 'Montserrat', sans-serif;
   background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 2.6rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 4vw;
    height: 4px;
    margin-top: 2vw;
    background-color: #ff4949;
}

h3 {
    padding: 1.2em 0 0.7em;
    line-height: 125%;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
}

p {
    font-size: 1.3rem;
    color: rgb(95, 110, 114);
    line-height: 130%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

a {
    color: #ff4949;
}

.bg {
    position: relative;
    background: linear-gradient(270deg, #5DC3DA,  #27dd8b,#FDD16B, #FFA149, #ff4949, #ff4992 );
    background-size: 800% 800%;

    -webkit-animation: gradient 30s ease infinite;
    -moz-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;
}

.bg::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    display: block;
    background-color: #ffffff;
    border-radius: 3em;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.container {
    position: relative;
    max-width: 85vw;
    margin: 0 auto;
    padding: 10rem 4% 7rem;
    z-index: 2;
}

.hero-container{
    padding: 0 0 5rem 0;
    text-align: center;
}

.hero-container h1 {
    margin-bottom: 32px;
}

.hero-container p {
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 0px;
}

.section-header {
    margin-bottom: 8vh;
    margin-top: 2rem;
}

.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: 10vh;
}

.item {
    padding: 2em;
    text-decoration: none;
    border-radius: 2em;
    box-shadow: 0 0 1px 1px rgba(23, 33, 36, 0.1);
    background-color: white;
    transition: 300ms ease;
}

.item h3 {
    color: black;
}

.item:hover {
    transform: scale(105%) translateY(-4%);
    box-shadow: 0 8px 16px 8px  rgba(23, 33, 36, 0.1);
    cursor: pointer;
}

.item img {
    max-width: 100%;
    aspect-ratio: 4.5/2;
    margin-right: 36px;
    border-radius: 1em;
    box-shadow: 0 0 1px 1px rgba(23, 33, 36, 0.1);
    object-fit: cover;
    object-position: center;
    min-height: 25vh;
}

.item p {
    margin-bottom: 64px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tags li {
    display: block;
    padding: 4px 8px;
    font-size: 13px;
    color: rgb(14, 72, 90);
    border: 1px solid  rgb(14, 72, 90);
    border-radius: 4px;
}

@media screen and (max-width: 1800px) {
    .container {
        max-width: 95vw;
    }
}

@media screen and (max-width: 1200px) {
    .items-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 820px) {
    .items-container {
        grid-template-columns: 1fr;
    }

    .item {
        display: flex;
    }

    .item img {
        width: 30%;
        min-height: 10vh;
    }
}

@media screen and (max-width: 600px) {
    .items-container {
        grid-template-columns: 1fr;
    }

    .item {
        display: block;
    }

    .item img {
        width: 100%;
        min-height: 25vh;
    }
}
