@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Work+Sans:wght@400;600&display=swap');

:root {
  --radius: 20px;
  --small-radius: 10px;
  --tiny-radius: 2px;
  --font: 'Work Sans', sans-serif;
  --display-font: 'Bungee Inline', cursive;
}

body {
  background: url('https://images.unsplash.com/photo-1671453683999-a8d10e3a2ef1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2663&q=80');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: var(--font);
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 40px auto;
  text-align: center;
  font-family: var(--display-font) ;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  line-height: 128%;
}

textarea {
  width: 100%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  line-height: 128%;
  resize: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(41, 41, 41);

}

::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: var(--tiny-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.boards-container {
  display: flex;
  padding: 0 24px;
}

.board {
  width: 360px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  padding: 0 24px 24px;
  backdrop-filter: blur(10px);
  margin-right: 24px;
}

.board-header {
  padding: 16px 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-counter {
  padding: 2px 12px;
  min-width: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 12px;
  font-size: 14px;
  border-radius: var(--tiny-radius);
}

.card {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: var(--small-radius);
  margin: 0 0 4px;
}

/* Add card */

.add {
  padding: 8px;
  font-size: 14px;
  border-radius: var(--small-radius);
  cursor: pointer;
}

.add:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

button {
  padding: 6px 8px;
  border-radius: var(--tiny-radius);
  font-family: var(--font);
  font-weight: 500;
  background-color: rgba(88, 86, 222);
  color: white;
}

button.secondary {
  background-color: rgba(76, 76, 78);
}

/* Hidden */

 .hidden {
  display: none;
 }