@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Work+Sans:wght@400;600&display=swap');

:root {
  --radius: 20px;
  --small-radius: 10px;
  --tiny-radius: 4px;
  --font: 'Work Sans', sans-serif;
  --display-font: 'Bungee Inline', cursive;
}

body {
  background-image: url('https://images.unsplash.com/photo-1671453683999-a8d10e3a2ef1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2663&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: var(--font);
  height: auto;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 40px auto;
  text-align: center;
  font-family: var(--display-font) ;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  line-height: 128%;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(41, 41, 41);
}

::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: var(--tiny-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Boards */

.boards-container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 24px 80px;
  white-space: nowrap;
}

.board {
  min-width: 360px;
  height: min-content;
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  padding: 0 24px 24px;
  backdrop-filter: blur(10px);
  margin-right: 24px;
}

.board-header {
  padding: 16px 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-counter {
  padding: 2px 12px;
  min-width: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 12px;
  font-size: 14px;
  border-radius: var(--tiny-radius);
}

.cardstack {
  min-height: 30px;
}

.card {
  position: relative;
}

.card i {
  display: none;
  font-size: 16px;
  position: absolute;
  right: 4px;
  top: 4px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  padding: 12px;
}

.card:hover i {
  display: block;
}

i.fa-pen-clip {
  right: 32px;
}

.card i:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
}

.drop-expect::after {
  content: '';
  display: block;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: var(--small-radius);
} 

/* Textarea */

textarea {
  display: block;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  line-height: 128%;
  resize: none;
  flex: 0 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: var(--small-radius);
  margin: 0 0 4px;
  cursor: pointer;
  /* height: fit-content; */
}

textarea:focus {
  border: 1px solid rgba(88, 86, 222);
  cursor: auto;
}

textarea.error {
  border: 1px solid rgb(216, 64, 64);
}

.error-text {
  display: block;
  color: rgb(216, 64, 64);
  font-size: 14px;
  margin: 0 0 12px;
}
/* Add card */

.add-text {
  padding: 8px;
  font-size: 14px;
  border-radius: var(--small-radius);
  cursor: pointer;
}

.add-text:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

.buttons {
  margin: 4px 0 16px;
}

button {
  padding: 6px 8px;
  border-radius: var(--tiny-radius);
  font-family: var(--font);
  font-weight: 500;
  background-color: rgba(88, 86, 222);
  color: white;
}

button.secondary {
  background-color: rgba(76, 76, 78);
  margin-left: 6px;
}

/* Hidden */

 .hidden {
  display: none;
 }