@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #c5c51d;
  --navColor2: #91ad05;
  --navColor3: #456625 ;
  --navColor4: #44a8ad;
  --navColor5: #193c64;

}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: 'Paytone One', sans-serif;
  overflow-x: none;
}

/* --- Navigation Menu ------------------------------ */

nav, nav ul {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  
}

nav ul {
display: flex;
flex-direction: column;
justify-content: stretch;
list-style: none;
}

li a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 64px;
  
}

nav li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

nav ul li a::before {
  content: "";
  width: 5vw;
  height: 16px;
  position: fixed;
  margin-top: 2%;
  left: 0;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  }  

nav li a:hover {
  transform: scale(120%);
  transition: all 0.1s ease-in-out;
}

nav li a:hover::before {
  width: 35vw;
  transition: all 0.1s ease-in-out;
  } 


nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-in-1 {
  animation: 0.4s ease-in 0.1s both slide-in;
}
.slide-in-2 {
  animation: 0.4s ease-in 0.2s both slide-in;
}
.slide-in-3 {
  animation: 0.4s ease-in 0.3s both slide-in;
}
.slide-in-4 {
  animation: 0.4s ease-in 0.4s both slide-in;
}
.slide-in-5 {
  animation: 0.4s ease-in 0.5s both slide-in;
}

.slide-out-1 {
  animation: 0.2s ease-out 0.4s both slide-out;
}
.slide-out-2 {
  animation: 0.2s ease-out 0.3s both slide-out;
}
.slide-out-3 {
  animation: 0.2s ease-out 0.2s both slide-out;
}
.slide-out-4 {
  animation: 0.2s ease-out 0.1s both slide-out;
}
.slide-out-5 {
  animation: 0.2s ease-out 0.0s both slide-out;
}


/* Overlay */

.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.0);
  transform: translateX(-100vw);
  transition: all 0.8s ease-in-out;
}

.overlay-slide-right {
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

/* --- Menu Bars ------------------------------------ */

/* .menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
} */

.menu {
  position: fixed;
  top: 64px;
  right: -10px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s ease;
  height: 50px;
  z-index: 11;
  padding: 10px;
}

.menu .bar {
  width: 40px;
  height: 4px;
  background: #fff;
  transition: 0.4s ease;
}
.menu .bar:not(:first-child) {
  margin-top: 8px;
}

#menu-icon {
  position: fixed;
  left: -999px;
  top: -999px;
}

#menu-icon:checked + .menu {
  transform: translate(-50%, -50%) rotatey(180deg);
}
#menu-icon:checked + .menu .bar {
  transform: rotatey(180deg) rotatex(360deg);
}
#menu-icon:checked + .menu .bar:first-child {
  transform: rotate(-45deg);
  margin-top: 10px;
}
#menu-icon:checked + .menu .bar:nth-child(2) {
  opacity: 0;
}
#menu-icon:checked + .menu .bar:nth-child(3) {
  margin-top: -16px;
  transform: rotate(45deg);
}

/* Rotate first bar */
/* .change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
} */

/* Fade out the second bar */
/* .change .bar2 {
  opacity: 0;
} */

/* Rotate last bar */
/* .change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
} */

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url('https://images.unsplash.com/photo-1474314170901-f351b68f544f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
  background-size: cover;
  background-position: center center;
}

section#home a {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#about {
  background-color: var(--navColor2);
}

section#skills {
  background-color: var(--navColor3);
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}
