@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

body {
  display: flex;
  font-family: "Space Grotesk", sans-serif;
}

.side {
  width: 100%;
  max-width: 33%;
  background-color: #21092F;
  background-image: url(../images/bg-main-desktop.png);
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

.card {
  border-radius: 10px;
  width: 80vw;
  max-width: 447px;
  height: 100%;
  max-height: 245px;
  position: absolute;
  filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.14));
}
.card #cardNumber {
  color: #FFFFFF;
  font-size: 28px;
  letter-spacing: 3.422px;
}
.card .card-text {
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card.front {
  border-radius: 10px;
  background: url(../images/bg-card-front.png);
  background-size: cover;
  right: -128px;
  top: 50%;
  transform: translateY(-105%);
  padding: 28px 32px;
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 31px;
}
.card.front div {
  display: flex;
  justify-content: space-between;
}
.card.back {
  background: url(../images/bg-card-back.png);
  background-size: cover;
  right: -223px;
  top: 50%;
  transform: translateY(5%);
}
.card.back p {
  position: absolute;
  top: 114px;
  right: 57px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12%;
}
main form {
  display: flex;
  gap: 26px;
  flex-direction: column;
  max-width: 381px;
  width: 100%;
}
main form .horizontal {
  display: flex;
  gap: 10px;
}
main label {
  width: 100%;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
main label.cvc {
  margin-left: 10px;
}
main .errorMessage {
  color: #FF5050;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 8px;
}
main input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
  display: block;
  padding: 16px 11px;
  margin-top: 9px;
  font-size: 18px;
}
main input::placeholder {
  opacity: 0.25;
}
main input:focus {
  color: #21092F;
  border: 1px solid #6348FE;
}
main input.invalid {
  border: 1px solid #FF5050;
}
main input[type=submit] {
  border-radius: 8px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #21092F;
  padding: auto 15px;
  height: auto;
  cursor: pointer;
  transition: all 0.15s;
  outline: none;
}
main input[type=submit]:hover {
  filter: brightness(150%);
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 381px;
  width: 100%;
}
.thank-you h1 {
  color: #21092F;
  font-size: 28px;
  letter-spacing: 3.422px;
  margin: 35px auto 16px;
}
.thank-you p {
  color: #8F8694;
  font-size: 18px;
  margin-bottom: 48px;
}

.hidden {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1200px) {
  body {
    display: block;
  }
  .side {
    width: 100%;
    max-width: none;
    min-height: 240px;
    background-image: url(../images/bg-main-mobile.png);
  }
  main {
    padding: 16px;
    padding-top: max(90px, 15vh);
  }
  .card {
    border-radius: 6px;
    width: 80vw;
    max-width: 286px;
    height: 156px;
    max-height: 245px;
    position: absolute;
    filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.14));
  }
  .card #cardNumber {
    font-size: 18px;
    letter-spacing: 2.2px;
  }
  .card .card-text {
    font-size: 9px;
    letter-spacing: 1.286px;
  }
  .card.front {
    right: 0;
    left: 50%;
    top: 123px;
    transform: translateX(-65%);
    padding: 19px 16px;
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: 17px;
    z-index: 1;
    margin: 0 17px;
  }
  .card.front img {
    height: 30px;
  }
  .card.back {
    right: 50%;
    top: 35px;
    transform: translateX(65%);
    margin: 0 17px;
  }
  .card.back p {
    position: absolute;
    top: 73px;
    right: 37px;
  }
  form {
    gap: 20px;
  }
}/*# sourceMappingURL=styles.css.map */